<%= form_for([@project,@column], :remote => true) do |f| %>

<%= content_tag(:div, content_tag(:span,  @column.errors.full_messages.to_sentence, :id => 'column-errors-message'), :class => 'alert alert-error hide', :id => 'column-errors-div')%>
	
  <div class="field">
    <%= f.text_field :title, :placeholder => I18n.t("columns.fields.title"), :style => 'width:350px;' %>
  </div>
  <div class="field">
    <%= colorpicker_tag :column, :color, :placeholder => I18n.t("columns.fields.color"), :style => 'width:60px;', :value => @column.color %>
  </div>
  <div class="form-actions">
    <%= f.submit I18n.t("columns.fields.save"), :class => 'btn btn-primary'%>
    <%= content_tag :button, I18n.t("columns.fields.cancel"), :class => 'btn btn-info', :onclick => "$('#modalPage').modal('hide');return false;" %>
  </div>
<% end %>
